.board {
  height: 90vh;
  width: 500px;
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 5px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background: pink;
}

.button {
  margin-top: 20px;
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 5%;
  border-radius: 12px;
  transition: all 0.5s ease;

  /* background-color: white; */
  background: #05e0e9;
  color: #1434a4;
  cursor: pointer;
}

.button:disabled {
  margin-top: 20px;
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 5%;
  border-radius: 12px;
  background: #fff;
  color: #ccc;
  cursor: no-drop;
}
