.tile-board {
  height: 90vh;
  width: 500px;
  padding: 10px;
  /* background-color: #2a2a2a; */

  /* background: #808080; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 5px;
}
